{% extends "base.html" %}

{% block page_content %}
<style>
body {
  background-image: url('/static/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<style>
.top {
  display: flex;
  text-align: center;
  justify-content: center;
  vertical-align: top;
  padding: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.bottom {
   display: flex;
   justify-content: center;
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

.bottom2 {
   display: flex;
   justify-content: center;
   position:fixed;
   left:5%;
   bottom:5%;
   width:100%;
}

</style>
<script>
function thingy() {
    /* Get the text field */
    var text = document.getElementById("server-ip").innerText;
    var elem = document.createElement("textarea");
    document.body.appendChild(elem);
    elem.value = text;
    elem.select();
    document.execCommand("copy");
	alert("Copied text to clipboard: " + elem.value);
    document.body.removeChild(elem);
}
</script>
<div class="top">
	<h1>Welcome to Super Ark Club!</h1>
</div>
<div class="top">
	<h1>Join our server: <button id="server-ip" onclick="thingy()">98.194.190.4:27015</button></h1>
</div>
<div class="bottom2">
	<a href "https://discord.gg/3vRvkV"><img src="/static/discord.png" width="50%"></a>
</div>
<div class="bottom">
	<h1>© 2020 Super Ark Club</h1>
</div>
{% endblock %}